@page
@model RazorPages_MasterDetailApp.Pages.Colin.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "Shared/_coharouLayout";
}
<div class="container">
    <div class="card m-2 border-dark">
        <div class="card-body p-3">
            <h5 class="card-title">@Html.DisplayFor(model => model.Book.Title)</h5>
            <h6 class="card-subtitle text-muted">@Html.DisplayFor(model => model.Book.Author)</h6>
            <ul class="list-group list-group-horizontal mt-2 mb-2">
                <li class="list-group-item">
                    <p class="card-text">
                        @Html.DisplayNameFor(model => model.Book.Genres): 
                        @Html.DisplayFor(model => model.Book.Genres)
                    </p>
                </li>
                <li class="list-group-item">
                    <p class="card-text">
                        @Html.DisplayNameFor(model => model.Book.PubYear): 
                        @Html.DisplayFor(model => model.Book.PubYear)
                    </p>
                </li>
                <li class="list-group-item">
                    <p class="card-text">
                        @Html.DisplayNameFor(model => model.Book.PageCount):
                        @Html.DisplayFor(model => model.Book.PageCount)
                    </p>
                </li>
            </ul>
            <div class="mt-3">
                <h6>@Html.DisplayNameFor(model => model.Book.Description)</h6>
                <p class="card-text">
                    @Html.DisplayFor(model => model.Book.Description)
                </p>
            </div>
            <div class="mt-3">
                <h6>@Html.DisplayNameFor(model => model.Book.Review)</h6>
                <p class="card-text">
                    @Html.DisplayFor(model => model.Book.Review)
                </p>
            </div>
        </div>
    </div>
</div>

<!--
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.ID">Edit</a>
</div>
-->