@page
@model RazorPages_MasterDetailApp.Pages.Colin.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "Shared/_coharouLayout";
}
<div>
    <div>
        @foreach (var b in Model.Book)
         {
            <div class="card m-4 border-dark">
                <div class="card-body p-3">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => b.Title)</h3>
                    <h4 class="card-subtitle text-muted">@Html.DisplayFor(modelItem => b.Author)</h4>
                    <ul class="list-group list-group-horizontal mt-2 mb-2 border-0">
                        <li class="list-group-item">
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Book[0].Genres): 
                                @Html.DisplayFor(modelItem => b.Genres)
                            </p>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Book[0].PubYear): 
                                @Html.DisplayFor(modelItem => b.PubYear)
                            </p>
                        </li>
                        <li class="list-group-item">
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Book[0].PageCount): 
                                @Html.DisplayFor(modelItem => b.PageCount)
                            </p>
                        </li>
                    </ul>
                    <a class="card-link p-2" asp-page="./Details" asp-route-id="@b.ID">More details...</a>
                </div>
            </div>
         }
    </div>
</div>
