@page
@model RazorPages_MasterDetailApp.Pages.John.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<style>
    .tableContainer {
        box-shadow: 4px 4px 4px;
        border-radius: 20px;
        background-color: navajowhite;
        padding: 20px;
        color: maroon;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }
</style>

<div class="tableContainer">
    <h4>Book Details</h4>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Book.ID" style="background-color: navajowhite; color: #8b795e;">Edit</a> |
        <a asp-page="./Index"style="background-color: navajowhite; color: #8b795e;">Back to List</a>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Genres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Genres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.PageCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.PageCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.PubYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.PubYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Review)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Review)
        </dd>
    </dl>
</div>

