@page
@model RazorPages_MasterDetailApp.Pages.John.IndexModel

@{
    ViewData["Title"] = "BookSharp Application";
}

<head>
    <link rel="stylesheet" href="~/css/JohnsCustom.css" type="text/css" />
</head>
<h3 style="color: #8b795e; font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;">BookSharp</h3>
<form>
    <p class="h4headers">
        Filter by Genre
        <select asp-for="BookGenres" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>

    <p class="h4headers">
        Filter by Author
        <select asp-for="BookAuthors" asp-items="Model.Authors">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>

    <p class="h4headers">
        Search by Title
        <input class="searchIcon" type="text" asp-for="SearchString" />
        <input  type="submit" value="Search" />
    </p>
</form>

<div class="tableContainer">
    <a asp-page="./Index" asp-route-filterOrder="desc" class="filterItems">
        Descending
    </a>
    <a asp-page="Create" class="filterItems">
        Add New
    </a>
    <a asp-page="./Index" asp-route-filterOrder="asc" class="filterItems">
        Reset
    </a>

    <table class="table table-responsive-sm table-striped tableItems">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Book[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book[0].Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book[0].Genres)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Book)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genres)
                </td>
                <td>
                    <a class="anchorItems" asp-page="./Details" asp-route-id="@item.ID" >Details</a> |
                    <a class="anchorItems" asp-page="./Edit" asp-route-id="@item.ID" >Edit</a> |
                    <a class="anchorItems" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>

            </tr>
            }
        </tbody>
    </table>

</div>

